DISCORD_BOT_TOKEN=
DISCORD_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_REDIRECT_URI=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=
LASTFM_API_KEY=
LASTFM_USERNAME=

PORT=

DISCORD_APPROVED_ID=
SPOTIFY_APPROVED_ID=
