@font-face {
    font-family: 'Rubik';
    src: url('Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik Italic';
    src: url('Rubik-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik One';
    src: url('RubikMonoOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-family: 'Rubik One', sans-serif;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0px;
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 0px;
}

a {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--text);
}

.fa-brands, .fa-solid {
    font-size: 115px;
    margin: 10px;
    text-align: center;
    width: 115px;
    color: var(--text)
}

.fa-brands:hover {
    filter: brightness(.8);
}