@media (prefers-color-scheme: dark) {
    :root {
        --background: #2e2f37;
        --timeline: #2a2b33;
        --progress: #57575b;
        --foreground:  #3e3f4b;
        --panel: #505161;
        --text: white;
        --radius: 12px;
      }
}

body {
    overflow: hidden;
    color: var(--text);
    background-color: var(--background);
}

#main_content {
    background-color: var(--foreground);
    max-width: 880px;
    margin-right: 60px;
    height: 445px;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--radius);
}

#main_top {
    display: flex;
    position: relative;
    width: 100%;
    margin: 10px;
    border-radius: var(--radius);
}

#main_bottom {
    display: block;
    position: absolute;
    margin-left: 10px;
    bottom: 0;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    overflow: hidden;
    border-radius: var(--radius);
}

.panel {
    width: 280px;
    height: 280px;
    border-radius: var(--radius);
    background-color: var(--panel);
    display: none;
    margin-bottom: 10px;
    margin-right: 10px;
}

#text_inner {
    padding: 15px;
}


#avatar {
    object-fit: cover;
    border-radius: var(--radius);
}

#socials {
    border-radius: var(--radius);
    position: relative;
    height: 135px;
    width: 100%;
    gap:10px;
    display: flex;
}

.social_button {
    background-color: var(--panel);
    height: 100%;
    width: 135px;
    border-radius: var(--radius);
}

#flag {
    display: flex;
}

#flag_icon {
    width: 40px;
    height: 30px;
    object-fit: cover;
    margin: 6px;
    border-radius: 6px;
}

#flag_name {
    color: var(--text);
}

#flag_name:hover {
    filter: brightness(.8);
}


#player{
   background-color: transparent;
   height: 320px;
}

#player_image {
    height: 280px;
    width: 280px;
    position: relative;
    display: block;
    background-color: transparent;
    border-radius: var(--radius);
}

#player_timeline {
    background-color: var(--timeline);
    height: 32px;
    border-radius: var(--radius);
    width: 100%;
    z-index: 9999;
    position: relative;
    margin-top: 10px;
    display: none;
    overflow: hidden;
}

#player_progress {
    background-color: var(--progress);
    height: 32px;
    width: 0%;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

#player:hover #player_timeline {
    display: block;
}
#player_title {
    font-size: 1rem;
    margin-top: -25px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 12px);
    margin-left: 6px;
}