@media (prefers-color-scheme: dark) {
    :root {
        --background: #2e2f37;
        --foreground:  #3e3f4b;
        --panel: #505161;
        --text: white;
        --radius: 12px;
      }
}

body {
    overflow: hidden;
    color: var(--text);
}

#main {
    background-color: var(--background);
    margin: -8px;
    height: 100%;
    width: 100%;
    position: absolute;
}

#main_content {
    background-color: var(--foreground);
    max-width: 880px;
    margin-right: 60px;
    height: 445px;
    position: relative;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--radius);
}

#main_top {
    display: flex;
    position: relative;
    width: 100%;
}

#main_bottom {
    display: block;
    position: absolute;
    margin-left: 10px;
    bottom: 0;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    overflow: hidden;
    border-radius: var(--radius);
}

.panel {
    margin: 10px;
    width: 280px;
    height: 280px;
    border-radius: var(--radius);
    background-color: var(--panel);
    display: none;
}

.panel:not(:first-child) {
    margin-left: 0%;
}

#text_inner {
    margin: 15px;
}

#avatar {
    object-fit: cover;
    border-radius: var(--radius);
}

#socials {
    border-radius: var(--radius);
    position: relative;
    height: 135px;
    width: 100%;
    gap:10px;
    display: flex;
}

.social_button {
    background-color: var(--panel);
    height: 100%;
    width: 135px;
    border-radius: var(--radius);
}

#flag {
    display: flex;
}

#flag_icon {
    width: 40px;
    height: 30px;
    object-fit: cover;
    margin: 6px;
    border-radius: 6px;
}

#flag_name {
    color: var(--text);
}

#flag_name:hover {
    filter: brightness(.8);
}


#player_image {
    height: 280px;
    width: 100%;
    border-radius: var(--radius);
    background-color: var(--foreground);
}

#player {
    height: 320px;
    background-color: transparent;
}

#player:hover #player_title {
    display: block;
}

#player_title {
    font-size: 1rem;
    height: 22px;
    background-color: var(--background);
    border-radius: var(--radius);
    text-align: center;
    z-index: 9999;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 6px;
    display: none;
}