@media screen and (max-width: 936px) {
  #main_top {
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 300px !important;
}
  #main_content {
    max-height: calc(100% - 80px) !important;
    height: auto !important;
    width: 445px;
  }
  #main_bottom {
    position: relative !important;
    width: 145px !important;
    margin: 10px;
    margin-left: 0px !important;
    overflow-y: scroll !important;
  }
  #socials {
    flex-wrap: wrap;
  }
  .social_button {
    height: 135px !important;
  }

  #avatar {
    height: 290px;
  }

  #avatar_credit {
    width: 100% !important;
  }

  #player {
    height: 280px !important;
    padding-top: 40px;
    margin-top: -40px !important;
  }

  .panel {
    margin-right: 0 !important;
  }
  .panel:last-child {
    margin-bottom: 0px !important;
  }
  #player_timeline {
    margin-top: -322px !important;
  }

  .panel_loader {
    width: 280px;
    height: 280px;
    border-radius: var(--radius);
    background-color: var(--panel);
    margin-bottom: 10px;
    margin-right: 0px !important;
}


}