@media screen and (max-width: 926px) {
  #main_top {
    flex-wrap: wrap;
    display: flex;
    overflow: hidden;
    width: 280px !important;
    max-height: 880px !important;
    margin: 10px;
    overflow-y: scroll;
  }
  #main_bottom {
    position: relative !important;
    width: 135px !important;
    max-height: 860px !important;
    overflow-y: scroll !important;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    margin-left: 0px !important;
    margin-bottom: -10px !important;
  }
  .social_button {
    width: 135px !important;
    height: 135px !important;
    margin-right: 0 !important;
  }
  .social_button_loader {
    margin-right: 0px !important;
  }
  #main_content {
    max-height: calc(100% - 40px) !important;
    height: 880px !important;
    width: 445px;
  }
  .panel_loader {
    margin-bottom: 10px;
    width: 280px;
    margin-right: 0px !important;
  }
  .social_button_loader {
    height: 135px !important;
  }
  #avatar, #player, #text_outer {
    height: 280px !important;
    width: 280px !important;
  }
  #player_timeline {
    margin-top: -322px !important;
  }
  .popup {
    margin-top: 10px;
  }
  .panel:last-child {
    margin: 0px !important;
  }
}

@media screen and (max-width: 486px) {
  #main_top {
    flex-wrap: wrap;
    display: flex;
    overflow: hidden;
    width: 180px !important;
    max-height: 560px !important;
    margin: 10px;
    overflow-y: scroll;
  }
  #main_bottom {
    position: relative !important;
    width: 85px !important;
    max-height: 560px !important;
    overflow-y: scroll !important;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 0px !important;
    margin-top: 10px;
  }
  #main_content {
    max-height: calc(100% - 40px) !important;
    height: 580px !important;
    width: 295px;
  }
  .social_button, .social_button_loader {
    width: 85px !important;
    height: 85px !important;
  }
  .fa-brands, .fa-solid {
    font-size: 65px !important;
    width: 65px !important;
  }
  .panel, .panel_loader {
    width: 180px !important;
    height: 180px !important;
  }

  #avatar, #player{
    height: 180px !important;
    width: 180px !important;
  }
  #text_outer {
    height: 160px !important;
    width: 160px !important;
  }
  #player_timeline {
    margin-top: -222px !important;
  }
  .popup_title {
    margin-top: 6px !important;
    font-size: 0.9rem !important;
  }
  #avatar_credit_link {
    font-size: 0.9rem !important;
  }
  #player_title { 
    margin-top: -25px !important;
  }
  .panel:last-child {
    margin: 0px !important;
  }
  h1 {
    font-size: 1.95rem !important;
  }
  p, a{
    font-size: 1.05rem !important;
  }
  #bday {
    font-size: 0.7rem !important;
  }
  #flag_icon {
    width: 20px !important;
    height: 14px !important;
    object-fit: cover;
    margin: 6px;
    margin-top: 6px !important;
    border-radius: 3px !important;
}
}

/* @media screen and (max-width: 316px) {
  #main_top {
    flex-wrap: wrap;
    display: flex;
    overflow: hidden;
    width: 180px !important;
    max-height: 380px !important;
    margin: 10px;
    overflow-y: scroll;
  }
  #main_bottom {
    position: relative !important;
    width: 95px !important;
    max-height: 380px !important;
    overflow-y: scroll !important;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 0px !important;
    margin-top: 10px;
  }
  #main_content {
    max-height: calc(100% - 40px) !important;
    height: 400px !important;
    width: 205px;
  }
  .social_button, .social_button_loader {
    width: 55px !important;
    height: 55px !important;
    margin-right: 0 !important;
  }
  .fa-brands {
    font-size: 35px !important;
    width: 35px !important;
  }
  .panel, .panel_loader {
    width: 120px !important;
    height: 120px !important;
  }

  #avatar, #player{
    height: 120px !important;
    width: 120px !important;
  }
  #text_outer {
    height: 160px !important;
    width: 160px !important;
  }
  #player_timeline {
    margin-top: -152px !important;
  }
  .popup {
    margin-top: 10px;
    height: 22px !important;
  }
  .panel:last-child {
    margin: 0px !important;
  }
  h1 {
    font-size: 1.95rem !important;
  }
  p, a{
    font-size: 1.05rem !important;
  }
  #bday {
    font-size: 0.7rem !important;
  }
  #flag_icon {
    width: 20px !important;
    height: 14px !important;
    object-fit: cover;
    margin: 6px;
    margin-top: 6px !important;
    border-radius: 3px !important;
}
} */